<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a class="header__logo-link" href="/">
          <img class="header__logo-img" src="https://star-wars-storage.s3.amazonaws.com/images/77e07a42-4d67-46ae-adc2-33d66518fced_logo.svg" alt="">
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item login header__nav-item--visible">
            <a class="header__nav-link" href="#">Login</a>
          </li>
          <li class="header__nav-item register header__nav-item--visible">
            <a class="header__nav-link" href="#">Register</a>
          </li>
          <li class="header__nav-item authorized">
            <a class="header__nav-link profile" href="/profile">Profile</a>
          </li>
          <li class="header__nav-item logout authorized">
            <a class="header__nav-link" href="#">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>