<section class="modal">
  <div class="modal__inner">
    <h4 class="modal__title"></h4>
    <span class="modal__close">&times;</span>
    <form class="modal__form" action="" >
      <label class="modal__form-label" for="username">Имя пользователя:</label>
      <input class="modal__form-input" type="text" id="username" name="username" required>
      <label class="modal__form-label" for="password">Пароль:</label>
      <input class="modal__form-input" type="password" id="password" name="password" required>
      <div class="modal__form-buttons">
        <button class="modal__form-submit" type="submit">Окей</button>
        <button class="modal__form-cancel" type="button">Отменить</button>
      </div>
    </form>
  </div>
</section>