<section class="tabs">
  <ul class="tabs__list">
    <li class="tabs__item">
      <a class="tabs__item-link tabs__item-link--active" href="" data-filter="people">People</a>
    </li>
    <li class="tabs__item">
      <a class="tabs__item-link" href=""  data-filter="planets">Planets</a>
    </li>
    <li class="tabs__item">
      <a class="tabs__item-link" href="" data-filter="films">Films</a>
    </li>
    <li class="tabs__item">
      <a class="tabs__item-link" href="" data-filter="species">Species</a>
    </li>
    <li class="tabs__item">
      <a class="tabs__item-link" href="" data-filter="vehicles">Vehicles</a>
    </li>
    <li class="tabs__item">
      <a class="tabs__item-link" href="" data-filter="starships">Starships</a>
    </li>
  </ul>
</section>